<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Mini Ajax File Upload Form</title>

		<!-- Google web fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<!-- The main CSS file -->
{#		<link href="style.css" rel="stylesheet" />#}
	</head>

	<body>

    <h1>Upload</h1>
    <br>

		<form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
			<input type="file" name="document">
            <button type="submit">Upload file</button>

		</form>
        
{#		<!-- JavaScript Includes -->#}
{#		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
{#		<script src="assets/js/jquery.knob.js"></script>#}
{##}
{#		<!-- jQuery File Upload Dependencies -->#}
{#		<script src="assets/js/jquery.ui.widget.js"></script>#}
{#		<script src="assets/js/jquery.iframe-transport.js"></script>#}
{#		<script src="assets/js/jquery.fileupload.js"></script>#}
{#		#}
{#		<!-- Our main JS file -->#}
{#		<script src="assets/js/script.js"></script>#}

	</body>
</html>